@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*,*::before,*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#root {
  background-image: url('../images/wave-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.layout-component {
  background: rgba(246, 255, 255, .6);
  box-shadow: 0 8px 32px 0 rgba(246, 255, 255, .6);
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba(202, 196, 196, 0.18);
}

.layout-component-main {
  height: 95.2vh;
}